@import url(variables.css);
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

/*500,700,800*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--Pale-blue);
  font-family: "Hanken Grotesk", sans-serif;
}

.main {
  background-color: var(--White);
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

body,
.main {
  display: flex;
  align-items: center;
}

body {
  flex-direction: column;
  justify-content: start;
}

.main__section {
  padding: 20px;
}

.section1 {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    0deg,
    var(--Light-royal-blue) 5%,
    var(--Light-slate-blue)
  ); /*gradiente averiguar*/
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  border-radius: 0 0 var(--radius1) var(--radius1);
  padding: 35px;
}

.main__section1--titulo {
  font-size: var(--txt5);
  color: var(--Light-lavender);
}

.main__section1--promedio {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    0deg,
    var(--Persian-blue) 10%,
    var(--Violet-blue)
  );
  /* background-color: var(--Violet-blue); */
  /* border-radius: var(--radius100); */
  border-radius: 100%;
  /* height: max-content;
  width: fit-content; */
  padding: 30px;
  /* line-height: 25px; ver */
  color: var(--Light-lavender);

  strong {
    font-size: var(--txt6);
    color: var(--White);
    padding: 0 15px;
    /* line-height: 55px; */
  }
}

.main__section1--respuesta {
  font-size: var(--txt4);
  font-weight: 500;
}

.main__section1--descripcion {
  font-size: var(--txt2);
  color: var(--Light-lavender);
  font-weight: 500;
}

.section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__section2--summary {
  align-self: flex-start;
  font-size: var(--txt2);
  color: var(--Persian-blue1);
  font-weight: 700;
}

.main__section2--summary,
.main__section2--stats {
  width: 100%;
}

.stats {
  padding: 12px;
  margin: 18px 0;
  div {
    display: flex;

    align-content: center;
    justify-content: space-between;

    span {
      display: flex;
      align-content: center;
      i {
        margin-right: 7px;
      }

      strong:first-child {
        margin-right: 7px;
      }
    }

    span:nth-child(2) {
      color: var(--Light-lavender);
      font-weight: 800;

      strong {
        color: var(--Dark-gray-blue);
      }
    }
  }
}

/* .stats div span {
  display: flex;
  align-content: center;
  i {
    margin-right: 5px;
  }
} */

.reaction {
  background-color: var(--Light-red-tranparent);
}
.memory {
  background-color: var(--Orangey-yellow-tranparent);
}
.verbal {
  background-color: var(--Green-teal-tranparent);
}
.visual {
  background-color: var(--Cobalt-blue-tranparent);
}

.reaction,
.memory,
.verbal,
.visual {
  border-radius: var(--radius2);
}

.reaction div span:first-child {
  color: var(--Light-red);
}
.memory div span:first-child {
  color: var(--Orangey-yellow);
}
.verbal div span:first-child {
  color: var(--Green-teal);
}
.visual div span:first-child {
  color: var(--Cobalt-blue);
}

.main__section2--button {
  padding: 15px;
  width: 100%;
  border-radius: var(--radius3);
  color: var(--White);
  background-color: var(--Dark-gray-blue);
  border: none;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: var(--txt2);
  font-weight: 800;
}

@media (min-width: 1440px) {
  body {
    align-items: center;
    justify-content: center;
  }

  .main {
    flex-direction: row;
    width: 45%;
    border-radius: var(--radius1);
    box-shadow: 13px 16px 40px -3px rgba(0, 0, 0, 0.1);
  }

  .section1 {
    border-radius: var(--radius1);
  }
}
